*.o
*.lo
.deps
.libs
*.dirstamp
*.la

po/Makefile
po/Makefile.in
po/POTFILES

Makefile
config.log
config.status

partprobe/partprobe
parted/parted

lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/charset.alias
lib/config.h
lib/configmake.h
lib/fcntl.h
lib/getopt.h
lib/inttypes.h
lib/langinfo.h
lib/ref-add.sed
lib/ref-del.sed
lib/stamp-h1
lib/stdlib.h
lib/string.h
lib/strings.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h
libparted.pc
libtool
parted/libver.a
parted/version.c
parted/version.h
