#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-device-mapper


override_dh_strip:
	dh_strip --dbg-package=libparted2-dbg $@

override_dh_auto_clean:
	[ -f Makefile ] && dh_auto_clean $@ || true

override_dh_auto_test:
	# nada

